* {
	margin: 0;
	padding: 0;
}
ul, ol{
	list-style: none;
}

.page {
	padding: 30px 20px;
}
.page__title{
	margin: 15px 0;
}
.task-list__item{
	padding: 10px 5px;
}
.task-list__title{
	display: inline-block;
	margin: 10px;
}
.task-list__button{
	font-size: 16px;
	height: 25px;
	padding: 0 10px;
	transition: all 0.4s ease;
}
.task-list__button:hover{
	box-shadow: 1px 1px 15px 1px rgba(32, 214, 32, 0.7);
	cursor: pointer;
}
.task-list__text{
	padding-left: 15px;
}